body {
    font-family: Arial, sans-serif;
}

.prime {
    color: red;
    font-weight: bold;
    border: 1px solid red;
    padding: 2px;
    margin: 2px;
    display: inline-block;
}

.number {
    color: black;
    display: inline-block;
    margin: 2px;
}

.multiple {
    padding: 2px;
    margin: 2px;
    display: inline-block;
}
